html {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.5;
}

@media all and (max-width: 450px) {
  html {
    font-size: 20px;
  }
}

body {
  overflow-x: hidden;
}

html * {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}